@media (max-width: 1024px) {
  .profile-picture img {
    width: 60%;
  }

  .profile-text h1 {
    font: 800 40px/120% var(--font-Asap);
  }
}

@media (max-width: 768px) {
  #profile {
    height: auto;
    margin-top: 40px;
  }

  .profile-picture img {
    width: 50%;
  }

  .profile-text h1 {
    font: 800 32px/120% var(--font-Asap);
  }

  .profile-icons ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile-icons button {
    width: 100px;
    height: 36px;
    padding: 6px 12px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 24px;
  }

  .card img {
    height: 160px;
  }
}

@media (max-width: 480px) {
  .profile-picture img {
    width: 70%;
  }

  .profile-text h1 {
    font: 800 24px/120% var(--font-Asap);
  }

  .profile-text p {
    font: var(--text-sm);
  }

  .profile-icons button {
    width: 90px;
    height: 34px;
    padding: 4px 8px;
  }

  .projects-text h2 {
    font: 800 20px/120% var(--font-Asap);
  }

  .projects-text p {
    font: 400 16px/120% var(--font-inconsolata);
  }

  .projects-grid {
    display: flex;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .card img {
    height: 140px;
  }
}
